<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ui-sref="home.posts">ANGULARGRAM</a>
    </div>
    <div ng-hide="signedIn()">
      <a href="/">HOME</a>
      <button class="btn btn-default navbar-btn  navbar-right" href="home.register">register</button>
      <button class="btn btn-default navbar-btn  navbar-right" ui-sref="home.login">login</button>
    </div>

    <div ng-show="signedIn()">
      <button class="btn btn-default navbar-btn navbar-right" ng-click="logout()">logout</button>
      <button class="btn btn-default navbar-btn navbar-right" ui-sref="home.profile({id: user.id})">{{user.email}}</button>
    </div>

    <div>
      <button class="btn btn-default navbar-btn navbar-right" ui-sref="home.posts">all posts</button>
    </div>
  </div>
</nav> -->

<div class="col-md-5"></div>
<div class="col-md-4">
  <%= form_for @post, url: '/api/v1/posts', method: 'post', html: {multipart: true} do |f| %>
    <h4>Upload your Photo</h4>
    <%= f.file_field :photo %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.label :category %><br>
      <%= f.collection_select :category_ids, Category.all, :id, :title, prompt: "Choose a Category" %><br><br>
      Or create your own category: <br>
      <%= f.fields_for :categories, @post.categories.build do |field| %>
        <%= field.text_field :title %><br><br>
      <% end %>
    <%= f.hidden_field :user_id, value: @id %>
    <%= f.submit %>
  <% end %>
</div>
<div class="col-md-3"></div>
